body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: url("/images/bg.jpg") no-repeat center center/cover;
  
  height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  background: rgb(248, 181, 56);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-container {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  width: 70%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
}

.search button {
  background: white;
  color: black;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.search button:hover {
  background: yellow;
}

.error-message {
  color: black;
  margin: 10px 0;
  font-size: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app {
    padding: 15px;
    max-width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }

  .search input {
    width: 60%;
    font-size: 18px;
  }

  .search button {
    font-size: 16px;
  }

  .error-message {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .app {
    max-width: 100%;
    padding: 10px;
  }

  .title {
    font-size: 1.25rem;
  }

  .search input {
    width: 55%;
    font-size: 16px;
  }

  .search button {
    font-size: 14px;
  }
}










/* #root {

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
